.postli li:hover {
	background: #f9f9f7;
	border-bottom: 0px solid #4966bc !important;
	border-bottom: 3px solid #4966bc !important;
}
.postli li {
	border-bottom: 0px !important;
	border-bottom: 3px solid white !important;
}
.pgpad{
	margin-left: -30px;
	margin-right: -67px;
}
.fontcolor {
	color: #800000;
}
.ftclr {
	color: #FF0000;
}