/*hide by rajesh */
/*@media  screen and (max-width: 500px) {
    .mw{  
    	width: 56% !important;
    	margin-left: -140px !important;
    }
    .mt60 {
    	margin-top: 5px !important;
    }
    .pwds {
    	width: 150px !important; 
    }
    h2 { font-size: 23px !important; }
    p { font-size: 13px !important; }
}*/
/*@media  screen and (max-width: 500px) {
    .mwc{  
        width: 38% !important;
        margin-left: -70px !important;
    }
    .col-xs-4 {
        width: 71% !important;
        text-align: left !important;
        padding: 0;
    }
    .btn {
        margin-left: -14px !important;
    }
}*/